:root {
    --color-white: white;
    --theme-brand-primary: #3D8618;
    --theme-brand-50: #F6FCF3;
    --theme-brand-100: #EDF8E7;
    --theme-brand-200: #E2F3D8;
    --theme-brand-300: #D3ECC6;
    --theme-brand-400: #C1E3B0;
    --theme-brand-500: #97CB7C;
    --theme-brand-600: #4C9825;
    --theme-brand-650: #3D8618;
    --theme-brand-700: #2C700A;
    --theme-brand-800: #1B5200;
    --theme-brand-900: #113800;
    --primary-color: #70B34B;
} 

::selection {
    color: #fff;
    background-color: #3D8618 !important;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

.navbar-logo img {
    padding: 10px;
    height: 37px;
}