/* 
Table of Contents

1. Main Declarations
2. Navbar
3. Hero Section
4. Infographics
5. Counter Section
6. Latest News


*/

/* 1. Main Declarations */

:root {
    --color-white: white;
    --color-primary: #4c8930;
    --color-secondary: #495057;
    --counter-TimeSeconds: 2;
    --color-grey: #eceeef;
} 

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.5;
    color: var(--color-secondary);
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
}

::selection {
    color: #fff;
    background-color: #3D8618 !important;
}

.color-white {
    color: var(--color-white);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-grey {
    color: var(--color-grey);
}



.bg-white {
    background-color: var(--color-white) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.bg-secondary {
    background-color: var(--color-secondary) !important;
}

.bg-grey {
    background-color: var(--color-grey) !important;
}


/* 2. Nav Bar */

/* .topbar {
    position: relative; 
    z-index: 9999;
} */


.navbar-logo {
    padding: 5px;
    height:60px;
}

.menu-main a {
    color: var(--color-secondary);
} 


/* 3. Hero Section */

.parallax-section .parallax {
    height: 500px;
}

.hero-heading p {
    padding: 10px;
    font-size: 3rem;
    font-weight: 300;
}

.parallax-section .btn {
    font-size: 1.25rem;
}


/* 4. Infographics */

.info-container {
    position: relative;
}

.info-text {    
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    font-size: 2rem;
    font-weight: 500;
}


/* 5. Counter Section */
.counter-section {
    width: 60vw;
    margin: 0 auto;
}

.counter-box {
    padding: 1rem;
}

.counter {
    font-size: 3rem;
    font-weight: 400;
    text-align: left !important;
}

.text-counter {
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
}

.icon-counter {
    padding-top: 1.5rem;
    padding-right: 2rem;
    color: var(--color-primary);
}


/* 6. Latest News */

.title-text {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-secondary);
}

.news-container {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 2.5px;
    background-color: var(--color-white);
    min-height: 150px;
}

.date-news {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--color-secondary);
    padding-bottom: 0;
}

.text-news {
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-secondary);
}
